.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0, 0.3);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar button {
    margin: 32px 0px 2px 32px;  /*Change this for mobile*/
    font-size: 25px;            /*Change this for mobile*/

    text-decoration: none;
    font-family: Alata;
    color: black;
    display: block;
    transition: 0.2s;
    font-weight: bold;
    text-shadow: -0.3px 0 white, 0 0.3px white, 0.3px 0 white, 0 -0.3px white;
    
  }
  
  .sidebar a:hover {
    color: red;
  }

  .sidebar .restaurant_cat{
    margin: 0px 0px 10px 16px;   /*Change this for mobile*/
    font-size: 20px;            /*Change this for mobile*/

    color: black;
    display: block;
  }

  .sidebar .restaurant_add{
    margin: 0px 0px 10px 16px;   /*Change this for mobile*/
    font-size: 20px;            /*Change this for mobile*/

    color: black;
    display: block;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }



  
  #main {
    transition: margin-right .5s;
    padding: 16px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }